
    <ul class="file__section">
      <h2>General</h2>
      <li>
        <p> Show Command Palette</p>
        <p>Ctrl + Shift + P or F1 </p>
      </li>
      <li>
        <p>Quick Open, Go to File…</p>
        <p>Ctrl + P </p>
      </li>
      <li>
        <p>New window/instance</p>
        <p>Ctrl + Shift + N </p>
      </li>
      <li>
        <p>Close window/instance</p>
        <p>Ctrl + Shift + W </p>
      </li>
      <li>
        <p>User Settings</p>
        <p>Ctrl + , </p>
      </li>
      <li>
        <p>Keyboard Shortcuts</p>
        <p>Ctrl + K Ctrl + S </p>
      </li>
    </ul>
    <ul class="file__section">
      <h2>Basic editing</h2>
      <li>
        <p>Cut line (empty selection)</p>
        <p>Ctrl + X </p>
      </li>
      <li>
        <p>Copy line (empty selection)</p>
        <p>Ctrl + C </p>
      </li>
      <li>
        <p>Move line up/down</p>
        <p>Alt + ↑ / ↓ </p>
      </li>
      <li>
        <p>Copy line up/down</p>
        <p>Shift + Alt + ↓ / ↑ </p>
      </li>
      <li>
        <p>Delete line</p>
        <p>Ctrl + Shift + K </p>
      </li>
      <li>
        <p>Insert line below</p>
        <p>Ctrl + Enter </p>
      </li>
      <li>
        <p>Insert line above</p>
        <p>Ctrl + Shift + Enter </p>
      </li>
      <li>
        <p>Jump to matching bracket</p>
        <p>Ctrl + Shift + \ </p>
      </li>
      <li>
        <p>Indent/outdent line</p>
        <p>Ctrl + ] / [ </p>
      </li>
      <li>
        <p>Go to beginning/end of line</p>
        <p>Home / End </p>
      </li>
      <li>
        <p>Go to beginning of file</p>
        <p>Ctrl + Home </p>
      </li>
      <li>
        <p>Go to end of file</p>
        <p>Ctrl + End </p>
      </li>
      <li>
        <p> Scroll line up/down</p>
        <p>Ctrl + ↑ / ↓ </p>
      </li>
      <li>
        <p>Scroll page up/down</p>
        <p>Alt + PgUp / PgDn </p>
      </li>
      <li>
        <p>Fold (collapse) region</p>
        <p>Ctrl + Shift + [ </p>
      </li>
      <li>
        <p>Unfold (uncollapse) region</p>
        <p>Ctrl + Shift + ] </p>
      </li>
      <li>
        <p>Fold (collapse) all subregions</p>
        <p>Ctrl + K Ctrl + [ </p>
      </li>
      <li>
        <p>Unfold (uncollapse) all subregions</p>
        <p>Ctrl + K Ctrl + ] </p>
      </li>
      <li>
        <p>Fold (collapse) all regions</p>
        <p>Ctrl + K Ctrl + 0 </p>
      </li>
      <li>
        <p>Unfold (uncollapse) all regions</p>
        <p>Ctrl + K Ctrl + J </p>
      </li>
      <li>
        <p>Add line comment</p>
        <p>Ctrl + K Ctrl + C </p>
      </li>
      <li>
        <p>Remove line comment</p>
        <p>Ctrl + K Ctrl + U </p>
      </li>
      <li>
        <p>Toggle line comment</p>
        <p>Ctrl + / </p>
      </li>
      <li>
        <p>Toggle block comment</p>
        <p>Shift + Alt + A </p>
      </li>
      <li>
        <p>Toggle word wrap</p>
        <p>Alt + Z </p>
      </li>
    </ul>
    <ul class="file__section">
      <h2>Navigation</h2>
      <li>
        <p>Show all Symbols</p>
        <p>Ctrl + T </p>
      </li>
      <li>
        <p>Go to Line...</p>
        <p>Ctrl + G </p>
      </li>
      <li>
        <p>Go to File...</p>
        <p>Ctrl + P </p>
      </li>
      <li>
        <p>Go to Symbol...</p>
        <p>Ctrl + Shift + O </p>
      </li>
      <li>
        <p>Show Problems panel</p>
        <p>Ctrl + Shift + M </p>
      </li>
      <li>
        <p>Go to next error or warning</p>
        <p>F8 </p>
      </li>
      <li>
        <p>Go to previous error or warning</p>
        <p>Shift + F8 </p>
      </li>
      <li>
        <p>Navigate editor group history</p>
        <p>Ctrl + Shift + Tab </p>
      </li>
      <li>
        <p>Go back / forward</p>
        <p>Alt + ← / → </p>
      </li>
      <li>
        <p>Toggle Tab moves focus</p>
        <p>Ctrl+M </p>
      </li>
    </ul>
    <ul class="file__section">
      <h2>Search and replace</h2>
      <li>
        <p>Find</p>
        <p>Ctrl + F </p>
      </li>
      <li>
        <p>Replace</p>
        <p>Ctrl + H </p>
      </li>
      <li>
        <p>Find next/previous</p>
        <p>F3 / Shift + F3 </p>
      </li>
      <li>
        <p>Select all occurences of Find match</p>
        <p>Alt + Enter </p>
      </li>
      <li>
        <p>Add selection to next Find match</p>
        <p>Ctrl + D </p>
      </li>
      <li>
        <p>Move last selection to next Find match</p>
        <p>Ctrl + K Ctrl + D </p>
      </li>
      <li>
        <p>Toggle case-sensitive / regex / whole word</p>
        <p>Alt + C / R / W </p>
      </li>
    </ul>
    <ul class="file__section">
      <h2>Multi-cursor and selection</h2>
      <li>
        <p>Insert cursor</p>
        <p>Alt + Click </p>
      </li>
      <li>
        <p>Insert cursor above / below</p>
        <p>Ctrl + Alt + ↑ / ↓ </p>
      </li>
      <li>
        <p>Undo last cursor operation</p>
        <p>Ctrl + U </p>
      </li>
      <li>
        <p>Insert cursor at end of each line selected</p>
        <p>Shift + Alt + I </p>
      </li>
      <li>
        <p>Select current line</p>
        <p>Ctrl + L </p>
      </li>
      <li>
        <p>Select all occurrences of current selection</p>
        <p>Ctrl + Shift + L </p>
      </li>
      <li>
        <p>Select all occurrences of current word</p>
        <p>Ctrl + F2 </p>
      </li>
      <li>
        <p>Expand selection</p>
        <p>Shift + Alt + → </p>
      </li>
      <li>
        <p>Shrink selection</p>
        <p>Shift + Alt + ← </p>
      </li>
      <li>
        <p>Column (page) selection</p>
        <p>Ctrl+Shift+Alt + (arrow key)</p>
      </li>
      <li>
        <p>Column (page) selection page up/down</p>
        <p>Ctrl+Shift+Alt + PgUp/PgDn</p>
      </li>
    </ul>
    <ul class="file__section">
      <h2>Rich languages editing</h2>
      <li>
        <p>Trigger suggestion</p>
        <p>Ctrl + Space, Ctrl + I </p>
      </li>
      <li>
        <p>Trigger parameter hints</p>
        <p>Ctrl + Shift + Space </p>
      </li>
      <li>
        <p>Format document</p>
        <p>Shift + Alt + F </p>
      </li>
      <li>
        <p>Format selection</p>
        <p>Ctrl + K Ctrl + F </p>
      </li>
      <li>
        <p>Go to Definition</p>
        <p>F12 </p>
      </li>
      <li>
        <p>Peek Definition</p>
        <p>Alt + F12 </p>
      </li>
      <li>
        <p>Open Definition to the side</p>
        <p>Ctrl + K or F12 </p>
      </li>
      <li>
        <p>Quick Fix</p>
        <p>Ctrl + . </p>
      </li>
      <li>
        <p>Show References</p>
        <p>Shift + F12 </p>
      </li>
      <li>
        <p>Rename Symbol</p>
        <p>F2 </p>
      </li>
      <li>
        <p>Trim trailing whitespace</p>
        <p>Ctrl + K or Ctrl + X </p>
      </li>
      <li>
        <p>Change file language</p>
        <p>Ctrl + K M </p>
      </li>
    </ul>
    <ul class="file__section">
      <h2>Editor management</h2>
      <li>
        <p>Close editor</p>
        <p>Ctrl + F4, Ctrl + W </p>
      </li>
      <li>
        <p>Close folder</p>
        <p>Ctrl + K F </p>
      </li>
      <li>
        <p>Split editor</p>
        <p>Ctrl + \ </p>
      </li>
      <li>
        <p>Focus into 1 st, 2nd or 3rd editor group</p>
        <p>Ctrl + 1 / 2 / 3 </p>
      </li>
      <li>
        <p>Focus into previous/next editor group</p>
        <p>Ctrl + K Ctrl + ←/→ </p>
      </li>
      <li>
        <p>Move editor left/right</p>
        <p>Ctrl + Shift+PgUp / PgDn </p>
      </li>
      <li>
        <p>Move active editor group</p>
        <p>Ctrl + K ← / → </p>
      </li>
    </ul>
    <ul class="file__section">
      <h2>File management</h2>
      <li>
        <p>New File</p>
        <p>Ctrl + N </p>
      </li>
      <li>
        <p>Open File...</p>
        <p>Ctrl + O </p>
      </li>
      <li>
        <p>Save</p>
        <p>Ctrl + S </p>
      </li>
      <li>
        <p>Save As...</p>
        <p>Ctrl + Shift + S </p>
      </li>
      <li>
        <p>Save All</p>
        <p>Ctrl + K S </p>
      </li>
      <li>
        <p>Close</p>
        <p>Ctrl + F4 </p>
      </li>
      <li>
        <p>Close All</p>
        <p>Ctrl + K Ctrl + W </p>
      </li>
      <li>
        <p>Reopen closed editor</p>
        <p>Ctrl + Shift + T </p>
      </li>
      <li>
        <p>Keep preview mode editor open</p>
        <p>Ctrl + K Enter </p>
      </li>
      <li>
        <p>Open next</p>
        <p>Ctrl + Tab </p>
      </li>
      <li>
        <p>Open previous</p>
        <p>Ctrl + Shift + Tab </p>
      </li>
      <li>
        <p>Copy path of active file</p>
        <p>Ctrl + K P </p>
      </li>
      <li>
        <p>Reveal active file in Explorer</p>
        <p>Ctrl + K R </p>
      </li>
      <li>
        <p>Show active file in new window/instance</p>
        <p>Ctrl + K O </p>
      </li>
    </ul>
    <ul class="file__section">
      <h2>Display</h2>
      <li>
        <p>Toggle full screen</p>
        <p>F11 </p>
      </li>
      <li>
        <p>Toggle editor layout (horizontal/vertical)</p>
        <p>Shift + Alt + 0 </p>
      </li>
      <li>
        <p>Zoom in/out</p>
        <p>Ctrl+ = / - </p>
      </li>
      <li>
        <p>Toggle Sidebar visibility</p>
        <p>Ctrl + B </p>
      </li>
      <li>
        <p>Show Explorer / Toggle focus</p>
        <p>Ctrl + Shift + E </p>
      </li>
      <li>
        <p>Show Search</p>
        <p>Ctrl + Shift + F </p>
      </li>
      <li>
        <p>Show Source Control</p>
        <p>Ctrl + Shift + G </p>
      </li>
      <li>
        <p>Show Debug</p>
        <p>Ctrl + Shift + D </p>
      </li>
      <li>
        <p>Show Extensions</p>
        <p>Ctrl + Shift + X </p>
      </li>
      <li>
        <p>Replace in files</p>
        <p>Ctrl + Shift + H </p>
      </li>
      <li>
        <p>Toggle Search details</p>
        <p>Ctrl + Shift + J </p>
      </li>
      <li>
        <p>Show Output panel</p>
        <p>Ctrl + Shift + U </p>
      </li>
      <li>
        <p>Open Markdown preview</p>
        <p>Ctrl + Shift + V </p>
      </li>
      <li>
        <p>Open Markdown preview to the side</p>
        <p>Ctrl + K V </p>
      </li>
      <li>
        <p>Zen Mode (Esc Esc to exit)</p>
        <p>Ctrl + K Z </p>
      </li>
    </ul>
    <ul class="file__section">
      <h2>Debug</h2>
      <li>
        <p>Toggle breakpoint</p>
        <p>F9 </p>
      </li>
      <li>
        <p>Start/Continue</p>
        <p>F5 </p>
      </li>
      <li>
        <p>Stop</p>
        <p>Shift + F5 </p>
      </li>
      <li>
        <p>Step into/out</p>
        <p>F11 / Shift + F11 </p>
      </li>
      <li>
        <p>Step over</p>
        <p>F10 </p>
      </li>
      <li>
        <p>Show hover</p>
        <p>Ctrl + K Ctrl + I </p>
      </li>
    </ul>
    <ul class="file__section">
      <h2>Integrated terminal</h2>
      <li>
        <p>Show integrated terminal</p>
        <p>Ctrl + ` </p>
      </li>
      <li>
        <p>Create new terminal</p>
        <p>Ctrl + Shift + ` </p>
      </li>
      <li>
        <p>Copy selection</p>
        <p>Ctrl + C </p>
      </li>
      <li>
        <p>Paste into active terminal</p>
        <p>Ctrl + V </p>
      </li>
      <li>
        <p>Scroll up/down</p>
        <p>Ctrl + ↑ / ↓ </p>
      </li>
      <li>
        <p>Scroll page up/down</p>
        <p>Shift + PgUp / PgDn </p>
      </li>
      <li>
        <p>Scroll to top/bottom</p>
        <p>Ctrl + Home / End </p>
      </li>
    </ul>
