.shortcuts__file {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 60vh;
  overflow-y: scroll;
}

.file__section {
  padding-left: calc(var(--mobile-font-size) / 2);
}

.file__section h2 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.2rem 1rem;
}

.file__section li {
  display: flex;
  flex-direction: column;
  padding: 0.6rem 1rem;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
}

.file__section li:hover {
  background: var(--secondary-color);
}

.file__section li:last-child {
  margin-bottom: 2rem;
}

.file__section li p {
  padding: 0.4rem 0;
}

.file__section li p:nth-child(2) {
  font-family: EspressoMono-Bold, monospace;
}


@media screen and (min-width: 1200px) {
  .file__section li {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.8rem;
  }
}
