.shortcuts__file {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 60vh;
  overflow-y: scroll;
}

.file__section {
  padding-left: calc(var(--mobile-font-size) / 2);

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.2rem 1rem;
  }

  li {
    display: flex;
    flex-direction: column;
    padding: 0.6rem 1rem;
    border-bottom: 1px solid rgb(0 0 0 / 20%);

    &:hover {
      background: var(--secondary-color);
    }

    &:last-child {
      margin-bottom: 2rem;
    }

    p {
      padding: 0.4rem 0;

      &:nth-child(2) {
        font-family: EspressoMono-Bold, monospace;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .file__section li {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.8rem;
  }
}
