.shortcuts__file {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 60vh;
  overflow-y: scroll;
}

.file__section {

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 0;
  }

  li {
    display: flex;
    flex-direction: column;
    padding: 0.6rem 0;
    border-bottom: 1px solid rgb(0 0 0 / 20%);

    &:hover {
      background: var(--secondary-color);
    }

    &:last-child {
      margin-bottom: 2rem;
    }

    p {
      padding: 0.4rem 0;

      &:nth-child(2) {
        font-family: EspressoMono-Bold, monospace;
      }
    }
  }
}

theme-toggle {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 1200px) {
  .file__section li {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.8rem;
  }

  theme-toggle {
    right: -4rem;
  }
}
