.topbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-direction: row;
}

@media screen and (min-width: 1200px) {

  .topbar__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10%;
  }

}
