<div class="topbar__container">
  <img class="topbar__logo" id="hayile-logo" src="../../../assets/icons/hayile-dark.svg" alt="Hayile logo"
    width="100px">
</div>

<div class="contenedor-padre">
  <nav class="navbar">
    <button mat-icon-button (click)="displayMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
      Hayile
    </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person</mat-icon>
    </button>
  </nav>
  <div class="navbar-menu" *ngIf="statusOfMenu">
    <a class="item-menu" href='#' (click)="envSelect('vsc')">Visual Studio Code</a>
    <hr>
    <a class="item-menu" href='#'(click)="envSelect('GitDesktop')">Git</a>
    <hr>
    <a class="item-menu" href='#' (click)="envSelect('Vim')">Vim</a>
    <hr>
  </div>
</div>
