<div class="topbar__container">
  <button class="button__menu" (click)="displayMenu()">
    <img src="../../../assets/icons/menu.svg" *ngIf="!statusOfMenu" alt="menu" class="topbar__menu-icon" width="28">
    <img src="../../../assets/icons/exit.svg" *ngIf="statusOfMenu" alt="close" class="topbar__menu-icon" width="24">
  </button>
  <h1 class="logo-mobile">HAYILE</h1>
  <img class="topbar__logo" id="hayile-logo" src="../../../assets/icons/hayile-dark.svg" alt="Hayile logo"
       width="300px">
  <!-- <button class="btn login">Login</button>
  <button class="btn signin">Sign In</button> -->
  <ul class="navbar-menu" *ngIf="statusOfMenu" [@openCloseAnimation]>
    <li><p class="item-menu" (click)="envSelect('vsc')">Visual Studio Code</p></li>
    <li><p class="item-menu" (click)="envSelect('gitdesktop')">Git</p></li>
    <li><p class="item-menu" (click)="envSelect('figma')">Figma</p></li>
  </ul>
  <div class="opacity" (click)="closeMenu()" *ngIf="statusOfMenu"></div>
  <theme-toggle></theme-toggle>
</div>

