<div class="topbar__container">
  <button (click)="displayMenu()">
    <img src="../../../assets/icons/menu.svg" *ngIf="!statusOfMenu" alt="menu" class="topbar__menu-icon" width="28">
    <img src="../../../assets/icons/exit.svg" *ngIf="statusOfMenu" alt="close" class="topbar__menu-icon" width="24">
  </button>
  <p class="logo-mobile">Hayile</p>
  <img class="topbar__logo" id="hayile-logo" src="../../../assets/icons/hayile-dark.svg" alt="Hayile logo"
       width="100px">
  <ul class="navbar-menu" *ngIf="statusOfMenu">
    <li><p class="item-menu" (click)="envSelect('vsc')">Visual Studio Code</p></li>
    <li><p class="item-menu" (click)="envSelect('gitdesktop')">Git</p></li>
    <li><p class="item-menu" (click)="envSelect('vim')">Vim</p></li>
    <li><p class="item-menu" (click)="envSelect('figma')">Figma</p></li>
  </ul>
  <div class="opacity" (click)="closeMenu()" *ngIf="statusOfMenu"></div>
</div>
<theme-toggle></theme-toggle>
