.topbar__container {
  display: none;
}

.mat-toolbar {
  display: flex;
  color: white;
  font-family: 'Jura';
  font-weight: 400;
  width: 100%;
  background-color: var(--bg-topbar);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 4px;
}

.example-spacer {
  flex: 1 1 auto;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.item-menu {
  margin-left: 2rem;
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all ease 0.25s;
}

.contenedor-padre {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.navbar {
  background-color: var(--bg-topbar);
  color: white;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  height: 48px;
  width: 100%;
  padding: 0 1rem;
}


@media screen and (min-width: 1200px) {
  .navbar {
    display: none;
  }

  .mat-toolbar {
    display: none;
  }

  .topbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto 1.5rem;
  }
}
