.theme {
  min-width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  background: #887f8e66;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme img {
  width: 1.7rem;
}
