<h1>{{dataFromParent[0].environment}}- {{systemSelected}}</h1>
<div class="titleOS-button">
  <img [ngClass]="{'selected': flagWindows}" (click)="osSelector('Windows')" id="windowsButton" class="titleOS-button-windows selected"
    src="../../../assets/icons/windows.svg" alt="logo windows" />
  <img [ngClass]="{'selected': flagMac}" (click)="osSelector('Mac')" id="macButton" class="titleOS-button-mac" src="../../../assets/icons/apple.svg"
    alt="logo mac" />
  <img [ngClass]="{'selected': flagLinux}" (click)="osSelector('Linux')" id="linuxButton" class="titleOS-button-linux" src="../../../assets/icons/linux.svg"
    alt="logo linux" />
</div>

