h1 {
  font-size: 1.2rem;
  font-weight: 400;
}

.titleOS-button {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  img {
    padding: 0.5rem 0.6rem;
    height: 35px;
    width: 45px;
    background: #887f8e65;
    border-radius: 0.8rem;
    display: flex;
    margin-left: 10px;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 2px 5px 0 rgb(0 0 0 / 12%);
  }

  .selected {
    background: var(--quaternary-color)
  }
}


@media screen and (min-width: 1200px) {
  h1 {
    font-size: 1.5rem;
  }

  img {
    cursor: pointer;
  }
}
