<h1>VSCode</h1>
<div class="titleOS-button">
  <img
    (click)="osSelector('windows')"
    class="titleOS-button-windows selected"
    src="../../../assets/icons/windows.svg"
    alt="botón para cambiar de sistema operativo a windows"
  />
  <img
  (click)="osSelector('mac')"
  class="titleOS-button-mac"
  src="../../../assets/icons/apple.svg" 
  alt="botón para cambiar de sistema operativo a mac" />
  <img
  (click)="osSelector('linux')"
    class="titleOS-button-linux"
    src="../../../assets/icons/linux-icon.svg"
    alt="botón para cambiar de sistema operativo a linux"
  />
</div>
