<header (openedMenu)="setStatusOfMenu($event)" (envSelected)="changeEnv($event)" class="topbar"></header>
<div *ngIf="!statusOfMenu" class="content">
  <title (OsSelected)="getOs($event)" [dataFromParent]="dataDisplayed" class="title"></title>
  <sidebar (envSelected)="changeEnv($event)" class="sidebar"></sidebar>
  <div class="shortcuts">
    <div class="shortcuts__container">
      <searcher (inputText)="filterFromSearchBar($event)" class="shortcuts__searcher"></searcher>
      <shortcuts-box [dataFromService]="dataDisplayed" [inputFromSearcher]="searchedText" class="shortcuts__file"></shortcuts-box>
    </div>
  </div>
</div>
