* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins, sans-serif;
  font-size: var(--mobile-font-size);
  background: var(--bg-color);
  color: var(--terciary-color);
  min-height: 100vh;
}
.topbar {
  position: sticky;
  padding: 0 0.5rem 0 0.7rem;
}

.shortcuts__searcher {
  width: 95%;
  border-radius: 2rem;
  display: flex;
  padding: 1rem;
  position: sticky;
  top: 0;
  box-shadow: -1px 2px 4px 0 rgb(0 0 0 / 12%);
  box-sizing: border-box;
  margin-top: 15px;
  background: #f6f6f9;
  align-self: center;
  margin: 0.5rem 0.3rem 2rem;
}

.shortcuts__container {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  height: 700px;
  overflow: scroll;
}
.sidebar {
  display: none;
  font-family: Jura, sans-serif;
  font-weight: 400;
}
.title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  margin: 0 1rem 1rem 0;
}

@media screen and (min-width: 1200px) {
  .content {
    padding: calc(var(--mobile-padding) * 1.5) calc(var(--mobile-padding) * 6);
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    grid-column-gap: 3rem;
    max-width: 1300px;
    margin: 0 auto;
  }
  .topbar {
    padding: calc(var(--mobile-padding) * 1.5) 0;
    display: block;
  }
    .title {
      grid-area: 1 / 2 / 2 / 3;
      grid-area: 1/2/2/3;
      justify-content: space-between;
      gap: 1%;
      padding-left: 0.8rem;
    }
  
    .sidebar {
      grid-area: 2 / 1 / 3 / 2;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  
    .shortcuts {
      grid-area: 2 / 2 / 3 / 3;
    }

}