.topbar {
  position: sticky;
  top: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.sidebar {
  display: none;
  font-weight: 400;
}

.content {
  padding: 1.5rem;
}

.shortcuts__container {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  z-index: -1;
}
theme-toggle {
  position: absolute;
  bottom: 10rem;
  right: 1.5rem;
}

.shortcuts__searcher {
  width: auto;
  border-radius: 2rem;
  display: flex;
  padding: 1rem;
  box-shadow: -1px 2px 4px 0 rgb(0 0 0 / 12%);
  box-sizing: border-box;
  background: #f6f6f9;
  margin-bottom: 1.5rem;
  // z-index: -1;
}

.shortcuts__file {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 60vh;
}

@media screen and (min-width: 1200px) {
  .content {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    grid-column-gap: 3rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
  }

  .topbar {
    padding: 30px 0;
    display: block;
  }

  .title {
    grid-area: 1 / 2 / 2 / 3;
    justify-content: space-between;
    gap: 1%;
  }

  .sidebar {
    grid-area: 1/ 1 / 3 / 2;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .shortcuts {
    grid-area: 2 / 2 / 3 / 3;
  }
}
