<ul>
  <h2>Shortcuts</h2>
  <div class="sidebar-container">
    <a (click)="envSelect('vsc')" [routerLink]="['']" [queryParams]="{ environment: 'vsc'}">VSCode</a>
    <a (click)="envSelect('gitdesktop')" [routerLink]="['']" [queryParams]="{ environment: 'gitdesktop'}">Git Desktop</a>
    <a (click)="envSelect('figma')" [routerLink]="['']" [queryParams]="{ environment: 'figma'}">Figma</a>
    <a href="https://github.com/HayileShortcuts/hayile-json" target="_blank" class="linkToGitHub">+ Add your shortcuts</a>
  </div>
</ul>
