ul>div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h2 {
  font-weight: 100;
  font-family: Jura, sans-serif;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--terciary-color);
}

.sidebar-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}