/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Jura&display=swap%27";

@font-face {
  font-family: EspressoMono-Regular;
  src: url("./assets/fonts/EspressoMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: EspressoMono-Bold;
  src: url("./assets/fonts/EspressoMono-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jura', sans-serif;
  font-size: 1rem;
  color: #0b2034;
  background: none;
  min-height: 100vh;
}

@media screen and (min-width: 1200px) {
  ::-webkit-scrollbar {
    width: 0.4rem;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0.6rem;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 0.6rem;
  }
}