/* You can add global styles to this file, and also import other style files */
// @import "https://fonts.googleapis.com/css2?family=Jura&display=swap%27";
@import "./app/styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');


@font-face {
  font-family: Rubik;
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");
  font-weight: 700;
}
@font-face {
  font-family: EspressoMono-Regular;
  src: url("./assets/fonts/EspressoMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: EspressoMono-Bold;
  src: url("./assets/fonts/EspressoMono-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik';
  font-size: 1rem;
  color: var(--terciary-color);
  background: var(--bg-color);
  max-height: 100vh;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 0.6rem;
}

html,
body {
  height: 100%;
}
