/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Jura&display=swap%27";

@font-face {
  font-family: EspressoMono-Regular;
  src: url("./assets/fonts/EspressoMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: EspressoMono-Bold;
  src: url("./assets/fonts/EspressoMono-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
  font-size: 1rem;
  color: #0b2034;
  background: none;
  min-height: 100vh;
}